# Ignore arquivos compilados
*.pyc
*.pyo
*.pyd

# Ignore diretórios de ambiente virtual
venv/
env/

# Ignore arquivos de configuração do editor
.vscode/
.idea/

# Ignore arquivos de log
*.log

# Ignore arquivos de banco de dados SQLite
*.sqlite3